html, body {
  margin: 0;
  height: 100vh;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-weight: 900;
  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 100%;
  width: 100%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background: transparent;
}

.title {
  font-size: 10vw;
  color: #000;
}

.dday {
  font-size: 22vw;
  color: #000;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
