body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-weight: 900;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 5vmin;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  font-size: 5vw;
  font-weight: 400;
  color: #000;
}

.counter {
  font-size: 22vw;
  color: #000;
  margin-top: 0;
}
