body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-weight: 900;
  height: 100vh;
}

.container {
  height: 100%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  font-size: 10vw;
  color: #000;
}

.counter {
  font-size: 22vw;
  color: #000;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
